body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-family: 'Roboto Mono', monospace;
}

nav {
    margin: 0;
    border: 0;
    color: white;
    background-color: #1f2937;
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    margin-left: 10%;
}

#nav-elements {
    flex-grow: 1;
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.nav-element {
    margin: 0 1em;
    font-size: 18px;
    color: #e5e7eb;
}

#hero {
    background-color: #1f2937;
    color: white;
    text-align: center;
}

#description {
    margin-left: 6%;
    padding: 3% 2% 6%;
    width: 35%;
    text-align: left;
    display: inline-block;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
}

#description p {
    font-size: 18px;
    color: #e5e7eb;
}

#header-button {
    padding: 1em 3em;
    background: #3882F6;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#image {
    width: 42%;
    margin: 6% 10.5% 0 0;
    display: inline-block;
}

img {
    width: 100%;
    /* height: 17em; */
    border: none;
    border-radius: 2%;
    margin-left: auto;
    flex-shrink: 2;
}

